* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
.container {
    width: 100%;
    /*max-diwth: 1200px*/
    margin: 0px auto; /*centra el elemento con auto*/
}
.row:after, .row:before {
    content:" ";
    display: table;
}
.row:after {
    clear:both; /*van de la mano cuando se flotan elementos*/
}
[class *= "col-"] {
    min-height: 7px;
    float: left;
}

/*clases para los % de cada columna*/
.col-1 {
    width: 8.333%;
}
.col-2 {
    width: 16.666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width:33.3333333%;
}
.col-5 {
    width: 41.6666667%;
    
}
.col-6 {
    width: 50%;
  }
.col-7 {
    width: 58.3333333%;
}
.col-8 {
    width: 66.6666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.3333333%;
}
.col-11 {
    width: 91.6666667%;
}
.col-12 {
    width: 100%;
}