.format-container-img{
    height: 100vh;
   }
@media screen and (min-width:951px){
    .container{
        width: 100%;
        box-sizing: border-box;
        background-image: url("../assets/sunny-day.jpg");
        background-position: center;
        background-size: cover;
      
       }
       .container-cat{
        background-image: url("../assets/kitten-medium.png");
        background-position: center bottom;
        background-repeat: no-repeat;
       }       
   
}

@media screen and (min-width:451px ) and (max-width:950px){
    .container{
        background-image: url("../assets/copia-night.jpg");
        background-position: center;
        background-size: cover;
        text-align: center;
       }
       .container-cat{
        background-image: url("../assets/kitten-small.png");
        background-position: center bottom;
        background-repeat: no-repeat;
       }        
          
}
@media screen and (max-width:450px){
    .container{
        background-image: url("../assets/draw.png");
        background-position: center;
        background-size: cover;
       }
       .container-cat{
        background-image: url("../assets/kitten-large.png");
        background-position:  center bottom;
        background-size: contain;
        background-repeat: no-repeat;
       } 

    
          
}


